<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <title>Login</title>
</head>
<body>
    <style>
        .container{
            margin-top: 10px;
        }
    </style>
    <div class="container ui">

        <% if(locals.error){ %>
            <div class="ui negative message">
            <p><%= locals.error %></p>
            </div>
        <%
        } %>

        <form action="/login" method="post" class="ui form">
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Votre mot de passe">
            </div>
            <input type="submit">
        </form>
    </div>
</body>
</html>